*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100vw;
    height: 100vh;

 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;
 justify-content: center;   
}
.all_buttons{
    display: flex;
    gap: 15px;
    
}
.count_Time{
    font-weight: 700;
}

.button{
letter-spacing: 1px;
 color: aliceblue;
 border-radius: 5px; 
height: 30px;
width: 90px;
background-color: rgb(45, 74, 239);
border: none;
}